//Colors
$color-yellow: #F8F200;
$color-black: #000000;
$color-blue: #52BEDC;
$color-gray: #777777;
$color-white: #FFFFFF;

//fonts
$ff-main: "Roboto", "Arial", sans-serif;
$ff-heading: "Archangelsk", "Arial", sans-serif;
// Viewport
$vp-tablet: 1023px;
$vp-mobile: 319px;

// Animation


