@use "../global/variables" as *;
@use "../global/mixins" as *;

.agreement {
    &__label {
        color: $color-white;
        padding-left: 24px;
        position: relative;
        user-select: none;
        cursor: pointer;
    }

    &__label::before {
        position: absolute;
        content: "";
        width: 14px;
        height: 14px;
        background-color: transparent;
        border: 1px solid $color-gray;
        left: 0;
        top: 3px;
    }

    &__tick {
        position: absolute;
        left: 2px;
        top: 6px;
        opacity: 0;
    }

    input[type="checkbox"]:checked + .agreement__label .agreement__tick {
    opacity: 1;
}
}