@use "../global/variables" as *;
@use "../global/mixins" as *;

.block-info {
    padding: 70px;
    clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
    background-color: $color-yellow;
    max-width: 624px;

    &__text {
        display: block;
        margin: 0 0 25px 0;
    }

    &__link {
        background-color: $color-black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 272px;
        height: 78px;
        font-weight: 700;
        font-size: 24px;
        line-height: 40px;
        color: $color-yellow;
    }
}