@use "../global/variables" as *;
@use "../global/mixins" as *;

.promo-monitor {
    background-color: $color-yellow;
    padding: 70px 0;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }

    &__product {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 26px;
    }
}